<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">


<div class="portfolio">

	<div class="portfolio-item graphic-design">
		<img class="portfolio-bg" src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/5/52/Empire_March_Cover_IW_6_Textless.png/revision/latest?cb=20180325144529" alt="graphic-design">
		<div class="portfolio-description">
			<h4>Thanos</h4>
			<p>Fictional supervillain appearing in American comic books published by Marvel Comics. .</p>
		</div>

	 </div>  <!--end graphic design-->
	<div class="portfolio-item graphic-design">
		<img class="portfolio-bg" src="https://i.pinimg.com/originals/4b/1e/9c/4b1e9c1a8005674872137253b5dd2851.jpg" alt="web">
		<div class="portfolio-description">
			<h4>Galactus</h4>
			<p>Fictional character appearing in American comic books published by Marvel Comics.</p>
		</div>

	</div> <!--end graphic design-->
	<div class="portfolio-item graphic-design">
		<img class="portfolio-bg" src="https://i.pinimg.com/originals/c6/3a/a7/c63aa727b1da5ff3ca0df5933a70c797.jpg" alt="video-design">
		<div class="portfolio-description">
			<h4>Kang</h4>
			<p>Fictional supervillain appearing in American comic books published by Marvel Comics. </p>

	</div> <!--end graphic design--> 