<div class="text-center" style="background: black;">
    <img src="./../../assets/Marvel-Studios-Symbol.png" alt="Marvel-Studios-Symbol" width="284" height="159">
</div>

<iframe
 width="100%"
 height="570"
 [src]="video | domseguro:'https://www.youtube.com/embed/' "
 frameborder="0"
 allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
 allowfullscreen
 style="background: black;"
></iframe>


<h1 class="text-center" >
    THANKS FOR WATCHING!
    <img src="./../../assets/fin.png" alt="logo">
</h1>

